body {
    background-color: #406ea7;
    padding: 10px;
}
h3,
h5,
h6,
p {
    text-align: center;
}

.jumbotron-fluid {
    background-color: #3a6496;
    background-image: url("gplay.png");
    text-align: center;
    color: white;
    font-weight: bolder;
    max-height: 125px;
}

#iconCard {
    background-color: lightgrey;
    align: center;
}

a {
    color: navy;
}

a:hover{
    color: rgb(13, 13, 82);
}
a:visited{
    color: rgb(50, 21, 129);
}
.card-header{
    background-color: lightgrey;
}
#uvBtn,
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
}
